# Group 15 Final Project
## Data Preparation Activities

We'll use pandas exclusively for importing the raw data, reducing the data set to the columns of interest, and exporting as CSV for easy import into a database.  We'll repeat the process 5 times for the 5 source files, one for each year from 2018-2022.

In [1]:
# Import necessary library.
import pandas as pd

In [2]:
# Read the full, raw csv file for 2018.
combined2018_full = pd.read_csv("./Combined_Flights_2018.csv")

In [3]:
# Show the result of the import.
combined2018_full.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1211.0,1249.0,7.0,1304,-8.0,0.0,-1.0,1300-1359,1,0.0
1,2018-01-24,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1210.0,1246.0,12.0,1304,-6.0,0.0,-1.0,1300-1359,1,0.0
2,2018-01-25,Endeavor Air Inc.,ABY,ATL,False,False,1202,1153.0,0.0,-9.0,...,1211.0,1251.0,11.0,1304,-2.0,0.0,-1.0,1300-1359,1,0.0
3,2018-01-26,Endeavor Air Inc.,ABY,ATL,False,False,1202,1150.0,0.0,-12.0,...,1207.0,1242.0,11.0,1304,-11.0,0.0,-1.0,1300-1359,1,0.0
4,2018-01-27,Endeavor Air Inc.,ABY,ATL,False,False,1400,1355.0,0.0,-5.0,...,1412.0,1448.0,11.0,1500,-1.0,0.0,-1.0,1500-1559,1,0.0

In [4]:
# Create a data frame to eliminate columns from the data we are not interested in.
combined2018_reduced = combined2018_full[["FlightDate","Airline","Origin","Dest","Cancelled","Diverted","DepDelayMinutes","Month","DayofMonth","Flight_Number_Operating_Airline","OriginCityName","OriginState","OriginStateName"]]

In [5]:
# View the reduced data set.
combined2018_reduced.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,DepDelayMinutes,Month,DayofMonth,Flight_Number_Operating_Airline,OriginCityName,OriginState,OriginStateName
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,0.0,1,23,3298,"Albany, GA",GA,Georgia
1,2018-01-24,Endeavor Air Inc.,ABY,ATL,False,False,0.0,1,24,3298,"Albany, GA",GA,Georgia
2,2018-01-25,Endeavor Air Inc.,ABY,ATL,False,False,0.0,1,25,3298,"Albany, GA",GA,Georgia
3,2018-01-26,Endeavor Air Inc.,ABY,ATL,False,False,0.0,1,26,3298,"Albany, GA",GA,Georgia
4,2018-01-27,Endeavor Air Inc.,ABY,ATL,False,False,0.0,1,27,3298,"Albany, GA",GA,Georgia

In [ ]:
# Export the reduced data set to CSV.
combined2018_reduced.to_csv('Combined_Flights_2018_reduced.csv', index=False)

### Repeat the process for 2019

In [ ]:
combined2019_full = pd.read_csv("./Combined_Flights_2019.csv")

In [ ]:
combined2019_full.head()

In [ ]:
combined2019_reduced = combined2019_full[["FlightDate","Airline","Origin","Dest","Cancelled","Diverted","DepDelayMinutes","Month","DayofMonth","Flight_Number_Operating_Airline","OriginCityName","OriginState","OriginStateName"]]

In [ ]:
combined2019_reduced.head()

In [ ]:
combined2019_reduced.to_csv('Combined_Flights_2019_reduced.csv', index=False)

### Repeat the process for 2020

In [ ]:
combined2020_full = pd.read_csv("./Combined_Flights_2020.csv")

In [ ]:
combined2020_full.head()

In [ ]:
combined2020_reduced = combined2020_full[["FlightDate","Airline","Origin","Dest","Cancelled","Diverted","DepDelayMinutes","Month","DayofMonth","Flight_Number_Operating_Airline","OriginCityName","OriginState","OriginStateName"]]

In [ ]:
combined2020_reduced.head()

In [ ]:
combined2020_reduced.to_csv('Combined_Flights_2020_reduced.csv', index=False)

### Repeat the process 2021

In [ ]:
combined2021_full = pd.read_csv("./Combined_Flights_2021.csv")

In [ ]:
combined2021_full.head()

In [ ]:
combined2021_reduced = combined2021_full[["FlightDate","Airline","Origin","Dest","Cancelled","Diverted","DepDelayMinutes","Month","DayofMonth","Flight_Number_Operating_Airline","OriginCityName","OriginState","OriginStateName"]]

In [ ]:
combined2021_reduced.head()

In [ ]:
combined2021_reduced.to_csv('Combined_Flights_2021_reduced.csv', index=False)

### Repeat the process for 2022

In [ ]:
combined2022_full = pd.read_csv("./Combined_Flights_2022.csv")

In [ ]:
combined2022_full.head()

In [ ]:
combined2022_reduced = combined2022_full[["FlightDate","Airline","Origin","Dest","Cancelled","Diverted","DepDelayMinutes","Month","DayofMonth","Flight_Number_Operating_Airline","OriginCityName","OriginState","OriginStateName"]]

In [ ]:
combined2022_reduced.head()

In [ ]:
combined2022_reduced.to_csv('Combined_Flights_2022_reduced.csv', index=False)